.dmx-lighting-control {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.all-channels {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.0rem;
    width: 50%;
}

.single-channel-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25rem 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 2.0rem;
}

.master-channel {
    display: flex;
    flex-direction: column;
    margin-top: 2.0rem;
}

.presets-fade-rate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 1.0rem;
    width: 50%;
}
